{{ define "body" }}
<div class="container mx-auto p-4">
    <div class="flex flex-row justify-between">
        <h1 class="text-3xl font-bold">new key value</h1>
    </div>
    {{ template "kv_new" . }}
</div>
{{ end }}

{{ block "kv_new" . }}
<div class="overflow-x-auto p-4">
    <form hx-post="/kv" class="form" hx-target="#alerts">
        <label class="input input-bordered flex items-center gap-2">
            key
            <input type="text" class="grow" placeholder="key" name="key" {{ if .Key }} value="{{ .Key }}" {{ end }} />
        </label>
        <label class="input input-bordered flex items-center gap-2">
            value
            <input type="text" class="grow" placeholder="key" name="value" {{ if .Value }} value="{{ .Value }}" {{ end }} />
        </label>
        <div class="flex flex-row justify-end gap-2">
            <button type="submit" class="btn btn-primary">create</button>
            <a href="/kv" class="btn btn-ghost">cancel</a>
        </div>
    </form>
</div>
{{ end }}
