{{ define "body" }}
<div class="container mx-auto p-4">
    <div class="flex flex-row justify-between">
        <h1 class="text-3xl font-bold">Key Values</h1>
        <a hx-boost="true" href="/kv/new" class="btn btn-primary btn-xs">New Key Value</a>
    </div>
    {{ template "kv_list" .KeyValues }}
</div>
{{ end }}

{{ define "kv_list" }}
<div class="overflow-x-auto p-4">
    <table class="table">
        <!-- head -->
        <thead>
            <tr>
                <th>
                    <label>
                        <input type="checkbox" class="checkbox" />
                    </label>
                </th>
                <th>Key</th>
                <th>Value</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{ range . }}
            <tr>
                <th>
                    <label>
                        <input type="checkbox" class="checkbox" />
                    </label>
                </th>
                <td>{{ .Key }}</td>
                <td>{{ .Value }}</td>
                <td>
                    <a hx-boost="true" href="/kv/{{ .Key }}" class="btn btn-primary btn-xs">
                        Edit
                    </a>
                </td>
                <td>
                    <button hx-delete="/kv/{{ .Key }}" hx-confirm="Are you sure?" hx-target="closest tr"
                        hx-swap="outerHTML swap:150ms" class="btn btn-error btn-xs">
                        Delete
                    </button>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{ end }}
