[core]
	excludesfile = /Users/sharranm/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Sharran
	email = sharran.murali@gmail.com
[commit]
	template = /Users/sharranm/.stCommitMsg
[url "git@bitbucket.org:"]
  insteadOf = https://bitbucket.org/
[includeIf "gitdir:~/projects/work/"]
  path = .gitconfig-cred
